{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Changer de mot de passe{% endblock %}
{% block extra_css %}
<style>
    .error{
        color:red;
    }
    input[type="password" i] {
        -webkit-text-security: disc !important;
        padding: 1px 2px;
        width: 100%;
        display: block;
        width: 100%;
        padding: .5rem .9rem;
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--vz-body-color);
        background-color: var(--vz-input-bg);
        background-clip: padding-box;
        border: 1px solid var(--vz-input-border);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: .25rem;
        -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    }

</style>
{% endblock %}
{% block content  %}
{% load crispy_forms_tags %}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Changer de mot de passe</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Panneau</a></li>
                            <li class="breadcrumb-item active">Changer de mot de passe</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="live-preview">
                            <div class="row gy-4">
                                <form method= "POST" action="{% url 'account_change_password' %}">{% csrf_token %}
                                <div class="col-xxl-3 col-md-12 mb-3">
                                    <div>
                                        {{ form.oldpassword|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-md-12 mb-3">
                                    <div>
                                        {{ form.password1|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-md-12 mb-3">
                                    <div>
                                        {{ form.password2|as_crispy_field }}
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-primary" value="Changer de Mot de Passe">
                            </form>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <p class="mb-0">&copy;
            <script>
                document.write(new Date().getFullYear())
            </script> Tout droit reservé. Créer <i class="mdi mdi-heart text-danger"></i> par Foba Alinet Blaise
        </p>
    </div> <!-- container-fluid -->
</div><!-- End Page-content -->



{% endblock %}