{% extends 'base.html' %} 
{% load static %} {% block title %}Blog {% endblock %} 
{% block extra_css %} {% endblock %} 
{% load cart_tag %}

{% block content %}
<!--RESERVATION BUTTON AREA-->
<section class="reservation-button-area section-padding" id="reservation-button" style="margin-top:-660px">
    <div class="reservation-button-area-bg" data-stellar-background-ratio="0.6"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="resarvation-from-button text-center wow fadeIn">
                    <h2>Panier</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="team-area section-padding" id="team" >
    <div class="container wow fadeIn">
         <div class="row">
            <div class="text-center">{% include 'message.html' %}</div>
            <table class="table align-middle table-nowrap mb-0" id="customerTable">
                <thead class="table-light">
                    <div class="d-flex align-items-center">
                        <button class="input-goup-text">
                            <a href="{% url 'cart_clear' %}">Clear Cart</a>    
                        </button>
                    </div>
                    <tr>
                        <th class="sort" data-sort="name" scope="col">Photo</th>
                        <th class="sort" data-sort="email_id" scope="col">Nom Produit</th>
                        <th class="sort" data-sort="name" scope="col">Prix</th>
                        <th class="sort" data-sort="phone" scope="col">Quantité</th>
                        <th class="sort" data-sort="phone" scope="col">Total</th>
                        <th class="sort" data-sort="phone" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="list form-check-all">
                    {% for key,value in request.session.cart.items %}
                    <tr>
                        <td class="name">
                            {% if value.image %}
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1 ms-2 name"><img src="{{value.image}}" style="width:50px;height:50px" /></div>
                                </div>
                            {% else %}
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1 ms-2 name">
                                        <img src="images/2_Yc07bjO.jpg" />
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                        <td class="name">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 ms-2 name">{{value.name|title}}</div>
                            </div>
                        </td>
                        <td class="name">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 ms-2 name">{{value.price}}<b>Fcfa</b></div>
                            </div>
                        </td>
                        <td class="name">
                            <div class="d-flex align-items-center">
                                <button class="input-goup-text">
                                    <a href="{% url 'item_decrement' value.product_id %}">-</a>    
                                </button>
                                {{value.quantity}}
                                <button class="input-goup-text">
                                    <a href="{% url 'item_increment' value.product_id %}">+</a>
                                </button>
                            </div>
                        </td>
                        <td class="name">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 ms-2 name">{{ value.price|multiply:value.quantity }}</div>
                            </div>
                        </td>
                        <td class="name">
                            <div class="d-flex align-items-center">
                                <button class="input-goup-text">
                                  <a href="{% url 'item_clear' value.product_id %}">Clear Item</a>    
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</section>
{% endblock %} 





{% block extra_javascript %} 
{% endblock %}
