{% extends 'base.html' %} {% load static %} {% block title %}Panier {% endblock %} {% block extra_css %} {% endblock %} {% block content %}
<!--RESERVATION BUTTON AREA-->
<section class="reservation-button-area section-padding" id="reservation-button" style="margin-top:-660px">
    <div class="reservation-button-area-bg" data-stellar-background-ratio="0.6"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="resarvation-from-button text-center wow fadeIn">
                    <h2>Panier</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="team-area section-padding" id="team">
    {% if details %}
    <div class="container wow fadeIn">
        <div class="row">
            <div class="text-center">{% include 'message.html' %}</div>
            <table class="table align-middle table-nowrap mb-0" id="customerTable">
                <thead class="table-light">
                    <div class="d-flex align-items-center">
                        <button class="input-goup-text">
                           <a href="{% url 'cart_delete_panier' %}">Vider Panier</a>    
                       </button>
                    </div>
                    <tr>
                        <th class="sort" data-sort="name" scope="col">Photo</th>
                        <th class="sort" data-sort="email_id" scope="col">Nom Produit</th>
                        <th class="sort" data-sort="name" scope="col">Prix</th>
                        <th class="sort" data-sort="phone" scope="col">Quantité</th>
                        <th class="sort" data-sort="phone" scope="col">Total</th>
                        <th class="sort" data-sort="phone" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="list form-check-all">
                    {% for detail in details %}
                    <tr>
                        <td class="name">
                            {% if detail.menu.image %}
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 ms-2 name"><img src="{{ detail.menu.image.url }}" style="width:50px;height:50px" /></div>
                            </div>
                            {% else %}
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 ms-2 name">
                                    <img src="images/2_Yc07bjO.jpg" />
                                </div>
                            </div>
                            {% endif %}
                        </td>
                        <td class="name">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 ms-2 name">{{detail.menu.name|title}}</div>
                            </div>
                        </td>
                        <td class="name">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 ms-2 name">{{detail.menu.price}}<b>Fcfa</b></div>
                            </div>
                        </td>
                        <td class="name">
                            <div class="d-flex align-items-center">
                                <button class="input-goup-text">
                                   <a href="{% url 'cart_decrement' detail.id %}">-</a>    
                               </button> {{detail.quantite }}
                                <button class="input-goup-text">
                                   <a href="{% url 'cart_increment' detail.id %}">+</a>
                               </button>
                            </div>
                        </td>
                        <td class="name">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 ms-2 name">{{detail.multiply }}  Fcfa</div>
                            </div>
                        </td>
                        <td class="name">
                            <div class="d-flex align-items-center">
                                <button class="input-goup-text">
                                 <a href="{% url 'cart_delete_produit' detail.id %}">Supprimer</a>    
                               </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <td>Total: <strong>{{ total_produit }}  Fcfa</strong></td>
        <hr />
        <div class="d-flex align-items-center">

            <td class="text-danger"><button><a href="{% url 'cart_commander' %}">Commander</a></button></td>
            
        </div>
    </div>
    {% else %}
    <div class="d-flex align-items-center">
        <h3 class="text-center text-danger">Votre Panier est Vide</h3>
    </div>
    {% endif %}
</section>
{% endblock %} {% block extra_javascript %} {% endblock %}