{% extends 'base.html' %} {% load static %} {% block title %}Blog {% endblock %} {% block extra_css %} {% endblock %} {% block content %}
<!--RESERVATION BUTTON AREA-->
<section class="reservation-button-area section-padding" id="reservation-button" style="margin-top:-660px">
    <div class="reservation-button-area-bg" data-stellar-background-ratio="0.6"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="resarvation-from-button text-center wow fadeIn">
                    <h2>Panier</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!--RESERVATION BUTTON AREA END-->

<div class="py-5">
    <div class="container">
        {% comment %} menus_data est une fonction use in customer.js {% endcomment %}
        <div class="row menus_data">
            <div class="col-md-12">
                <div class="card shadow menus_data">
                    <div class="card-body">
                        {% if cart %} {% for item in cart %} 
                        {{item.menu.name}}
                        {{item.quantite}}
                         {% endfor %} {% else %}
                        <h4>Votre Panier est vide</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block extra_javascript %} {% endblock %}
