{% load static %}
<!--FOOER AREA-->
<div class="footer-area" id="contact">
    <div class="footer-area-bg" data-stellar-background-ratio="0.6"></div>
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="footer-menu">
                    <ul>
                        <li><a href="/menu">Menus</a></li>
                        <li><a href="/restaurant">Restaurants</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="footer-copyright">
                    <p>&copy; 2022 <a href="#"></a>Tout droit reservé.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FOOER AREA END-->