{% extends 'dashboard/base.html' %} {% load static %} {% block title %}Categorie du blog {% endblock %} {% block extra_css %} {% endblock %} {% block content %}


<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Categorie du blog</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Panneau</a></li>
                            <li class="breadcrumb-item active">Categorie du blog</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0"></h4>
                    </div>
                    <!-- end card header -->

                    <div class="card-body">
                        <div id="customerList">
                            <div class="row g-4 mb-3">
                                <div class="col-sm-auto">
                                    <div>
                                        <button type="button" class="btn btn-success add-btn"><i class="ri-add-line align-bottom me-1"></i><a href="{% url 'dashboard:blog_categorie_add' %}"  class="text-white"> Ajouter</a></button>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="d-flex justify-content-sm-end">
                                        <div class="search-box ms-2">
                                            <input type="text" class="form-control search" placeholder="Search...">
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive table-card mt-3 mb-1">
                                <table class="table align-middle table-nowrap" id="customerTable">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col" style="width: 50px;">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                </div>
                                            </th>
                                            <th class="sort" data-sort="customer_name">Nom</th>
                                            <th class="sort" data-sort="email">Date de creation</th>
                                            <th class="sort" data-sort="phone">status</th>
                                            <th class="sort" data-sort="action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list form-check-all">
                                        {% for blogcategorie in blogcategories %} {% include 'dashboard/modals/blog-categorie-delete.html' with categorie=blogcategorie %}
                                        <tr>

                                            <th scope="row">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                                                </div>
                                            </th>
                                            <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">#VZ2101</a></td>
                                            <td class="customer_name">{{blogcategorie.name}}</td>
                                            <td class="email">{{blogcategorie.Timestamp|date:'d M Y'}} </td>
                                            <td class="status"><span class="badge badge-soft-success text-uppercase">{{blogcategorie.status}} </span></td>
                                            <td>
                                                <div class="d-flex gap-2">
                                                    <div class="edit">
                                                        <a class="btn btn-sm btn-success edit-item-btn" href="{% url 'dashboard:blog_categorie_modif' slug=blogcategorie.slug %} ">Modifier</a>
                                                    </div>
                                                    <div class="remove">
                                                        <button class="btn btn-sm btn-danger remove-item-btn" data-bs-toggle="modal" data-bs-target="#blogcategorie-delete">Supprimer</button>
                                                    </div>
                                                    <div class="remove">
                                                        <a href="{% url 'dashboard:blog_categorie_detail' slug=blogcategorie.slug %}" class="btn btn-sm btn-success remove-item-btn"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> Details</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>


                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end col -->
        </div>

    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->


{% endblock %} {% block extra_javascript %}{% endblock %}