<div class="row mt-3">
    <div class="col-md-3 offset-md-4">
        <ul class="pagination">
            {% if blogs.has_previous %}
               <li class="page-item">
                <a class="page-link" href="?page={{ blogs.previous_page_number }}">Precedant</a>
               </li>
             {% endif %}
             
             <li class="page-item active">
                 <a class="page-link" href="?page={{ blogs.number }}">{{blogs.number}}</a>
             </li>
             {% if blogs.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ blogs.next_page_number }}">Suivant</a>
            </li>
             {% endif %}
        </ul>
    </div>
</div>