{% extends 'dashboard/base.html' %}
{% load static %}
{% block content  %}
<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Dashboard</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                            <li class="breadcrumb-item active">Accueil</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="reservation-button-area-bg " data-stellar-background-ratio="0.6 ">
            <!--HHOME SLIDER AREA-->
            <div class="slider-area">
                   <img src="{% static 'assets/img/slider/slide_11.JPG' %}" style="width: 1100px; height: 650px;" alt="">
                </div>
            </div>
            <!--HOME SLIDER AREA END-->
        
    </div>

    </div>
    <!-- container-fluid -->
</div>
{% endblock %}