{% load static %}
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="{% static 'dashboard/assets/images/logo-sm.png' %}" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="{% static 'dashboard/assets/images/logo-dark.png' %}" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
                <img src="{% static 'dashboard/assets/images/logo-sm.png' %}" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="{% static 'dashboard/assets/images/logo-light.png' %}" alt="" height="17">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
           
            
            <ul class="navbar-nav" id="navbar-nav">
                {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'dashboard:contact' %} ">
                        <i class="ri-honour-line"></i> <span data-key="t-widgets">Contact</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'dashboard:equipe' %}">
                        <i class="ri-honour-line"></i> <span data-key="t-widgets">Equipe</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'dashboard:blog' %}">
                        <i class="ri-honour-line"></i> <span data-key="t-widgets">Blog</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'dashboard:blog_categorie' %}">
                        <i class="ri-honour-line"></i> <span data-key="t-widgets">BlogCategorie</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'dashboard:home' %}">
                        <i class="ri-honour-line"></i> <span data-key="t-widgets">Commande</span>
                    </a>
                </li>
                {% elif request.user.role == "restaurateur" %}
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="{% url 'dashboard:menu' %}">
                            <i class="ri-honour-line"></i> <span data-key="t-widgets">Menu</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="{% url 'dashboard:categorie_plat' %}">
                            <i class="ri-honour-line"></i> <span data-key="t-widgets">Categorie Plat</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="{% url 'dashboard:home' %}">
                            <i class="ri-honour-line"></i> <span data-key="t-widgets">Commande</span>
                        </a>
                    </li>
                {% elif request.user.role == "client" %}
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="{% url 'dashboard:home' %}">
                            <i class="ri-honour-line"></i> <span data-key="t-widgets">Commande</span>
                        </a>
                    </li>
                {% endif %}
                
            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>